body {
    scroll-behavior: smooth;
    font-family: Bebas Neue;
}

header{
    background-color: rgb(168, 168, 168);
    border: 5px solid black;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 10px 18px rgb(233, 7, 7);
}

h1, span {
    display: flex;
}

h2, h3 {
   font-size: 2rem;
   text-align: center;
}

.movie-container {
    /* display: inline; */
}
span img {
    width: 25%;
    background-color: white;
    border-radius: 10px;
    border: 5px solid black;
    box-shadow: 1px 2px 8px 2px rgb(74, 70, 70);
}

button:hover {
    /* scale up and glowing border affect for hero image and experience section tabs*/
    border-color: rgb(157, 157, 234);
    transform: scale(1.05);
    transition: .1s ease;
    box-shadow: inset -2px 6px 7px 1px rgb(233, 7, 7), 2px 4px 5px rgb(97, 97, 97);
}